// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.split-pane-visible > ion-menu {
  max-width: 5% !important;
}

ion-menu {
  --ion-background-color: var(--ion-color-medium);
  --ion-text-color: var(--ion-color-medium-contrast);

  ion-toolbar {
    --background: var(--ion-color-medium);
  }

  ion-list {
    background: transparent;
  }
}

